@import url("https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner:wght@400;500;600;700&family=Lumanosimo&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://github.com/Udemig/9-Cuma-Projeleri/blob/main/recipeApp/images/food-2.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}



a {
  text-decoration: none;
  color: black;
}

.container {
  background: rgba(206, 206, 206, 0.5);
  max-width: 88.75rem;
  min-height: 66.25vh;
  margin: 4.5vw auto;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(102, 71, 25, 0.475);
  display: flex;
  flex-direction: column;
}

@media (max-width: 950px) {
  .container {
    margin: auto;
    min-height: 100vh;
    border-radius: unset;
  }
}

.container header {
  display: grid;
  grid-template-areas: "logo right right";
  padding: 45px;
  background-color: rgba(188.75, 188.75, 188.75, 0.5);
  border-radius: 20px;
}
@media (max-width: 725px) {
  .container header {
    display: flex;
    flex-direction: column;
    border-radius: unset;
  }
}
.container header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 137.5px;
  transition: all 0.2s;
}

.container header .logo:hover {
  transform: translateY(- 0.225px);
  scale: 1.0725;
}

@media (max-width: 725px) {
  .container header .logo {
    margin: 0 auto;
  }
}
@media (max-width: 950px) {
  .container header .logo {
    margin: 0 auto;
  }
}
.container header .logo img {
  height: 180px;
}
.container header .logo a {
  text-decoration: none;
  font-family: "Pasifico", cursive;
  color: black;
}
.container header .right {
  grid-area: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  margin-right: 137.5px;
}
@media (max-width: 725px) {
  .container header .right {
    margin: 0 auto;
  }
}
@media (max-width: 525px) {
  .container header .right {
    gap: 9.375px;
  }
}
@media (max-width: 377.5px) {
  .container header .right {
    gap: 5.625px;
  }
}
@media (max-width: 950px) {
  .container header .right {
    margin: 0 auto;
  }
}
.container header .right .search-form form {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 45px;
  padding-left: 10.25px;
  transition: all 0.2s;
}

.container header .right .search-form form:focus-within {
  transform: translateY(-2.25px);
  box-shadow: 0 0 22.5px rgba(0, 0, 0, 0.3);
}
.container header .right .search-form form input {
  border: none;
  outline: none;
  width: 337.5px;
  text-indent: 9px;
}

.container header .right .search-form input::-moz-placeholder {
  color: #90770a;
}

.container header .right .search-form form input::placeholder {
  color: #90770a;
}

@media (max-width: 525px) {
  .container header .right .search-form form input {
    width: 150px;
  }
}
@media (max-width: 377.5px) {
  .container header .right .search-form form input {
    width: 75px;
  }
}
.container header .right .search-form form button {
  background-color: #eac504;
  padding: 11.25px 33.75px;
  border-radius: 45px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Edu SA Beginner", cursive;
}

.container header .right .search-form form button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

@media (max-width: 377.5px) {
  .container header .right .search-form form button {
    padding: 5px 20px;
  }
}
.container header .right .likes {
  font-size: 25px;
  background: #eac504;
  padding: 8.5px;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
}
.container header .right .likes:hover .list {
  visibility: visible;
  opacity: 1;
}
.container header .right .likes .list {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: -257.1875px;
  margin-right: 150px;
  opacity: 0;
  background-image: linear-gradient(90deg, #eac504 12.5%, #c28b10 87.5%);
  padding: 10px;
  transition: all 1s;
  z-index: 1000000;
  border-radius: 22.5px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .container header .right .likes .list {
    width: 168.75px;
    right: -250px;
  }
}
@media (max-width: 725px) {
  .container header .right .likes .list {
    right: -178.75px;
  }
}
.container header .right .likes .list a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1.125px solid black;
  padding: 6.125px;
}
.container header .right .likes .list a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 9500px) {
  .container header .right .likes .list a img {
    width: 36.25px;
    height: 36.25px;
  }
}
.container header .right .likes .list a p {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
  flex-grow: 1;
}
@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr;
  }
}
main .results {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
  width: 100%;
}
main .results .result-link {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f3b42cd1;
  padding: 5px 10px;
  border-radius: 20px;
  width: 90%;
  transition: all 0.2s;
}
@media (max-width: 950px) {
  main .results .result-link {
    width: 100%;
  }
}
@media (max-width: 525px) {
  main .results .result-link {
    width: 362.5px;
  }
}
main .results .result-link:hover {
  background-color: #eac504;
  transform: translateY(-2.25px);
  cursor: pointer;
}
main .results .result-link img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 525px) {
  main .results .result-link img {
    width: 30px;
    height: 30px;
  }
}
main .result .result-link .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 525px) {
  main .results .result-link .data {
    font-size: 19px;
  }
}
main .results .result-link .data h4 {
  font-family: "Borel", cursive;
  color: #805b00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 225px;
  transition: 0.2s;
}
main .results .result-link .data h4:hover {
  color: rgb(87.5, 45, 0);
}
main .results .result-link .data p {
  font-family: "Pacifico", cursive;
  white-space: nowrap;
}
main .recipe {
  background-color: rgba(188.75, 188.75, 188.75, .5);
}
main .recipe figure {
  height: 337.5px;
  position: relative;
}
main .recipe figure::before {
  content: "";
  display: block;
  background-image: linear-gradient(90deg, #eac504 12.5%, #b38b24 87.5%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.45;
  width: 100%;
  height: 100%;
}
main .recipe figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
main .recipe figure h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 22.5%) skewY(-6.125deg);
  color: black;
  font-weight: 600;
  background-image: linear-gradient(90deg, #fece16 18.75%, #d67b2c 81.25%);
  white-space: nowrap;
  padding: 10.25px 33.75px;
  text-shadow: 0 2.5px 10px rgb(201, 201, 201);
  font-family: "Pacifico", cursive;
  border-radius: 4px;
  letter-spacing: 4px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .recipe figure .like-area {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 22.5px;
}
main .recipe figure .like-area i {
  font-size: 25px;
  padding: 5px;
  border-radius: 11.25px;
  color: #a53c01;
  transition: all 0.2s;
}
main .recipe figure .like-area i:hover {
  background: #b44d01;
  cursor: pointer;
  color: #eee;
}
main .recipe .ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  justify-content: center;
  margin-top: 36.25px;
  width: 100%;
}
@media (max-width: 950px) {
  main .recipe .ingredients {
    align-items: center;
    padding: 25px;
  }
}
main .recipe .ingredients ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 22.5px;
}
@media (max-width: 525px) {
  main .recipe .ingredients ul {
    grid-template-columns: 1fr;
  }
}
main .recipe .ingredients ul li {
  display: flex;
  gap: 11.25px;
}
main .recipe .ingredients ul li i {
  color: #a73e01;
}
main .recipe .ingredients ul li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 225px;
}
main .recipe .ingredients button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14.375px;
  padding: 20px;
  margin: 50px auto;
  width: 100%;
  background-color: #e7664c;
  border: none;
  font-size: 22.5px;
  cursor: pointer;
  transition: all 0.2s;
}
main .recipe .ingredients button:hover {
  scale: 0.96;
}
main .recipe .ingredients button span {
  font-family: "Edu SA Beginner", cursive;
  font-weight: 900;
  letter-spacing: 2.25px;
}
main .recipe .directions {
  text-align: center;
  padding-bottom: 45px;
}
main .recipe .directions h2 {
  transform: skewY(-3.375deg);
  font-weight: 800;
  color: #b43d01;
  font-family: "Pacifico", cursive;
  letter-spacing: 4px;
  font-size: 32.25px;
  text-shadow: 0 2.5px 10px #f76d1e;
}
main .recipe .directions p {
  padding: 50px;
  font-weight: 400;
}
main .recipe .directions p span {
  color: #cb6b24;
}
main .recipe .directions a {
  border: 1.125px solid #e76c4c;
  padding: 11.25px 33.75px;
  border-radius: 33.75px;
  font-weight: 600;
  transition: all 0.2s;
}
main .recipe .directions a:hover {
  background-color: #f77b1c;
}
main .shopping h2 {
  text-align: center;
  font-family: "Edu SA Beginner", cursive;
  padding: 5px 2.25px;
  margin: 33.75px;
}
main .shopping .button-area {
  display: flex;
  justify-content: end;
  margin: 5px;
  padding: 5px;
}
main .shopping .button-area button {
  background-color: crimson;
  border: none;
  padding: 7.5px;
  color: white;
  border-radius: 10px;
  transition: all 0.2s;
}
main .shopping .button-area button:hover {
  scale: 0.955;
  cursor: pointer;
  background-color: rgb(110, 25, 27);
}
main .shopping ul li {
  list-style: none;
  padding: 5px;
  font-family: "Edu SA Beginner", cursive;
  border-bottom: 1.125px solid #9b6d11;
  font-weight: 600;
}
main .shopping ul li i {
  cursor: pointer;
  font-size: 22.5px;
}
.loader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 77.5px 12.5px;
}

#like-btn {
  color: #dc5a00;
} 
